flows (1).json
[{"id":"de13aa59.fa2088","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"1db90db6.a16082","type":"inject","z":"de13aa59.fa2088","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":74,"y":237,"wires":[["236670f4.4ccba"]]},{"id":"c7a41f39.35d08","type":"debug","z":"de13aa59.fa2088","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":808,"y":64,"wires":[]},{"id":"236670f4.4ccba","type":"function","z":"de13aa59.fa2088","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"ef2c464e-29b1-4670-b4e3-f2b13a879a76\";\nvar password=\"b309bc50-9770-4384-aea6-0c8d01ec125b\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"ad\",msg.payload.ad);\nglobal.set(\"rd\",msg.payload.rd);\nglobal.set(\"ma\",msg.payload.ma);\nglobal.set(\"st1\",msg.payload.st1);\nglobal.set(\"st2\",msg.payload.st2);\nreturn msg;","outputs":1,"noerr":0,"x":284,"y":339,"wires":[["19af8a8.8481776"]]},{"id":"ee439a4b.0a86f8","type":"ui_form","z":"de13aa59.fa2088","name":"","label":"","group":"592d4ab0.cfd644","order":0,"width":0,"height":0,"options":[{"label":"Adminstration","value":"ad","type":"number","required":true},{"label":"R&D Spend","value":"rd","type":"number","required":true},{"label":"Marketing","value":"ma","type":"number","required":true},{"label":"State code","value":"st1","type":"number","required":true},{"label":"State code1","value":"st2","type":"number","required":true}],"formValue":{"ad":"","rd":"","ma":"","st1":"","st2":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":67,"y":443,"wires":[["236670f4.4ccba"]]},{"id":"19af8a8.8481776","type":"http request","z":"de13aa59.fa2088","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":353,"y":395,"wires":[["dac8887e.99baa8","9af24fc9.bdc11"]]},{"id":"dac8887e.99baa8","type":"function","z":"de13aa59.fa2088","name":"Prediction","func":"var token=msg.payload.token;\nvar ad=global.get(\"ad\");\nvar rd=global.get(\"rd\");\nvar ma=global.get(\"ma\");\nvar st1=global.get(\"st1\");\nvar st2=global.get(\"st2\");\nmsg.payload={\"fields\":[\"Adminstration\",\"R&D Spend\",\"Marketing\",\"State code\",\"State code1\"],\"values\":[[ad,rd,ma,st1,st2]]};\nmsg.headers={\"Authorization\":\"Bearer\"+token};\nreturn msg;","outputs":1,"noerr":0,"x":185,"y":86,"wires":[["e0ae64ab.b1b4d8"]]},{"id":"e0ae64ab.b1b4d8","type":"http request","z":"de13aa59.fa2088","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/b3c472d8-162d-4833-bbb8-30814e61c24f/deployments/b7e9e16e-5cab-42a7-83f1-22449302db31/online","tls":"","proxy":"","authType":"basic","x":392,"y":23,"wires":[["bf40ce98.4791e"]]},{"id":"bf40ce98.4791e","type":"function","z":"de13aa59.fa2088","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":525,"y":123,"wires":[["c7a41f39.35d08","d45e4491.0e6c58"]]},{"id":"d45e4491.0e6c58","type":"ui_text","z":"de13aa59.fa2088","group":"592d4ab0.cfd644","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":722,"y":181,"wires":[]},{"id":"9af24fc9.bdc11","type":"debug","z":"de13aa59.fa2088","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":615,"y":426,"wires":[]},{"id":"592d4ab0.cfd644","type":"ui_group","z":"","name":"User_Inputs","tab":"9572adc8.fbb3c","disp":true,"width":"6","collapse":false},{"id":"9572adc8.fbb3c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]